h2 {
  margin-bottom: 2em;
  text-align: center;
  font-size: 2em;
  color: #333;
}

input[type="text"],
input[type="password"] {
  height: 5vh;
  width: 18vw;
  border: 1px solid #ccc;
  padding: 1em;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 1vh 0;
  font-size: 1em;
  outline: none;
  transition: border 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border: 1px solid #262020;
}

form {
  width: 50%;
  min-height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(6, 34, 83);
  border-radius: 10px;
  padding: 2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 10vw;
  height: 6vh;
  background: #4876cf;
  border: none;
  border-radius: 25px;
  color: white;
  font-weight: 600;
  font-size: 1em;
  transition: background 0.3s ease;
  margin-top: 2em;
}

button:hover {
  background: #ff2a1a;
  cursor: pointer;
}

p {
  color: #333;
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 1em;
}

@media screen and (max-width: 1000px) {
  form {
    width: 80%;
  }

  input[type="text"],
  input[type="password"] {
    width: 80%;
    height: 6vh;
  }

  button {
    width: 40%;
    height: 7vh;
  }

  h2 {
    font-size: 1.5em;
  }
}
